.navbar {
    .navbar-brand img {
        width: 250px;
        height: auto;
    }
    .navbar-brand-small img {
        width: 105px;
        height: auto;
    }
    .nav-container {
        opacity: 0.5;
    }
    opacity: 0.5;
}

